<h1>Editing receita</h1>

<% form_for(@receita) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </p>
  <p>
    <%= f.label :autor %><br />
    <%= f.text_field :autor %>
  </p>
  <p>
    <%= f.label :ingredientes %><br />
    <%= f.text_area :ingredientes %>
  </p>
  <p>
    <%= f.label :modo %><br />
    <%= f.text_area :modo %>
  </p>
  <p>
    <%= f.label :observacoes %><br />
    <%= f.text_area :observacoes %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @receita %> |
<%= link_to 'Back', receitas_path %>